
.effects img {
    filter: blur(1.2px) opacity(100%) brightness(70%) saturate(100%);
    box-shadow:  2px 3px rgba(0, 0, 0, 0.2);

}

.effects img:hover {
    filter: blur(0) opacity(100%) brightness(100%);
    box-shadow: 1px 1.5px rgba(0, 0, 0, 0.2);;
    transition: all 1s;

}

.soon {
    position: relative;
    display: inline-block;
}

.soon img {
    filter: blur(1px) opacity(100%) brightness(40%);
    transition: none;

    display: block;
} 
.soon p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "andet";
    font-size: 11px;
    color: white;
    text-align: center;
    
}

.index-tekst img {
    filter: blur(1px) opacity(100%) brightness(80%);
}

.bleh img {
    filter: blur(1px) opacity(100%) brightness(40%);
}


/* DESKTOP */

@media (min-width: 500px) {

    .soon p {
            position: absolute;
            top: 50%;
            left: 50%;
            padding-bottom: 40px;
            transform: translate(-50%, -50%);
    
            font-family: "andet";
            font-size: 16px;
            color: white;
            text-align: center;   
        }
}