@font-face {
    font-family: "h1";
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "tal";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "h2";
    src: url(../fonts/Gloock/Gloock-Regular.ttf);
}

@font-face {
    font-family: "andet";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "tekst";
    src: url(../fonts/Lato-Light.ttf);
}

/* fonts og størrelse */

h1 {
    font-family: "h1";
}
.port-mobil {
    font-family: "h1";
    font-size: 48px;
} .port-desk {
    display: none;
}
.tal {
    font-family: "tal";
    font-size: 48px;
    font-weight: medium;
}
h2 {
    font-family: "h2";
    font-size: 40px;
}
.hej {
    font-size: 32px;
}
.omm {
    font-size: 48px;
}


h3 {
    font-family: "andet";
    font-size: 36px;
}
h4 {
    font-family: "andet";
    font-size: 24px;
}
h5 {
    font-family: "andet";
    font-size: 14px;
}
p {
    font-family: "tekst";
    font-size: 15px;
} .index-tekst {
    font-family: "tekst";
    text-decoration: none;
    font-size: 17px;
    color: black;
}


/* positioner */

.centre {
    text-align: center;
}

.løsning {
    display: flex;
    justify-content: end;
    font-family: "tekst";
    color: black;
}

.AAA {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    gap: 0rem;
}
.A {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 0;
}
.kua {
    grid-column: span 6;
    grid-row: 1/2;
    margin-top: 59px;
}





/* desktop-format */

@media (width <= 600px) {
    
    .port-desk {
        font-family: "lora";
        font-weight: bold;
        font-size: 128px;
    }
}