@font-face {
    font-family: "h1";
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "tal";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "h2";
    src: url(../fonts/Gloock/Gloock-Regular.ttf);
}

@font-face {
    font-family: "andet";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "tekst";
    src: url(../fonts/Lato-Light.ttf);
}

/* fonts og størrelse */

h1 {
    font-family: "h1";
}
.port-mobil {
    font-family: "h1";
    font-size: 48px;
} 
.tal {
    font-family: "tal";
    font-size: 48px;
    font-weight: medium;
}
h2 {
    font-family: "h2";
    font-size: 40px;
}
.hej {
    font-size: 32px;
}
.omm {
    font-size: 48px;
}


h3 {
    font-family: "andet";
    font-size: 32px;
}
h4 {
    font-family: "andet";
    font-size: 24px;
}
h5 {
    font-family: "andet";
    font-size: 13px;
    font-weight: 500;
}
p {
    font-family: "tekst";
    font-size: 15px;
} .index-tekst {
    font-family: "tekst";
    text-decoration: none;
    font-size: 17px;
    color: black;
}


/* positioner */

.port-mobil {
    text-align: end;
    padding-bottom: 20px;
}.port-desk {
    display: none;
}

.centre {
    text-align: center;
}

.løsning {
    display: flex;
    justify-content: end;
    font-family: "tekst";
    color: black;
}

.AAA {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    gap: 0rem;
}
.A {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 0;
}
.kua {
    grid-column: span 6;
    grid-row: 1/2;
    margin-top: 59px;
}

.tema_grid_1-1_1 {
    display: block;
    margin: 0 auto;

    padding-left: 20px;
    padding-right: 20px;
    max-width: 450px;
}

.pro-h4 {
    margin-top: -20px;
    padding-left: 2px;
}

h3 {
    padding-top: 10px;
}

.img-02 {
    width: 210px;
    height: auto;
}


/* basis + billeder */

body {
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
}
.aku {
    width: 280px;
    height: 400px;
    object-fit: cover;

    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.temaerne img {
    width: 140px;
    height: 190px;
    object-fit: cover;

    margin: 0;
    margin-top: 8px;
}


.grid_1-1-1 img {
    width: 180px;
    height: auto;
    object-fit: cover;
}
.farve1 {
    background-color: #051428;
    max-width: 180px;

    margin-top: 4px;
    margin-bottom: 8px;
} 
.farve2 {
    background-color: #D8CEC4;
    color: #D8CEC4;
    max-width: 180px;

    margin-top: 4px;
    margin-bottom: 8px;
} 
.farve3 {
    background-color: #1754A7;
    color: #1754A7;
    max-width: 180px;

    margin-top: 4px;
    margin-bottom: 8px;
}

/* desktop-format */

@media (width <= 600px) {
    
    .port-desk {
        font-family: "lora";
        font-weight: bold;
        font-size: 128px;
    }
}