footer, header {
    margin: 0;
    padding: 0;
}

.foot-links {
    border-top: 1px solid #d9d9d9;
    margin-top: 50px;
    margin-left: -30px;
    margin-right: -30px;

    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
}
.foot-links a {
    margin-top: 20px;

    font-family: "tal";
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}


.end {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.copy {
    font-family: "h1";
    font-size: 14px;
    padding-right: 10px;
    
}
.navn {
    font-size: 14px;
    padding-left: 10px;
}
